<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/scripts.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="password" placeholder="password" v-on:keyup="report">
        <!-- <p>Message is: {{ password }}</p> -->
        
        <div v-if="isMember"> 
            <p>Welcome, Member!</p>
            <a href="private.html">Members Page</a>
        </div>

    </div>

<h1>Come Golf With Us...</h1>

</body>
</html>